.top-navbar {
  overflow: hidden !important;
}

.top-navbar nav {
  position: relative;
  width: 100vw;
  background-color: #6f7b8b;
}

.top-navbar nav .toggle-collapse-btn {
  position: absolute;
  left: 10px;
  border: none;
  outline: none;
  background-color: white;
  color: #313a46;
}

.top-navbar nav form input {
  border: 1px solid #6169d0 !important;
  outline: none !important;
}

.top-navbar nav form button {
  border: 1px solid #6169d0 !important;
  color: #313a46;
}

.top-navbar nav form button:hover {
  background-color: #6169d0;
  color: white;
}
